/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/


/* .page.theme-dark {
    --horizontal-color-line: #000;
    --vertical-color-line-start: #007f0c;
    --vertical-color-line-end: #004306;
    --title-font-weight: 785;
    --text-font-weight: 465;
    --bg-color: #000000;
    --accent-color: #00cc14;
}

.page.theme-light {
    --horizontal-color-line: #d3d3d3;
    --vertical-color-line-start: #e7e7e7;
    --vertical-color-line-end: #1a1a1a;
    --title-font-weight: 700;
    --text-font-weight: 400;
    --bg-color: #ffffff;
    --accent-color: #000000;
} */

@media (prefers-color-scheme: light) {
  :root.theme-light {
    --horizontal-color-line: #d3d3d3;
    --vertical-color-line-start: #e7e7e7;
    --vertical-color-line-end: #1a1a1a;
    --title-font-weight: 700;
    --text-font-weight: 400;
    --bg-color: #ffffff;
    --accent-color: #000000;
  }
}

@media (prefers-color-scheme: dark) {
  :root.theme-dark {
    --horizontal-color-line: #000;
    --vertical-color-line-start: #007f0c;
    --vertical-color-line-end: #004306;
    --title-font-weight: 785;
    --text-font-weight: 465;
    --bg-color: #000000;
    --accent-color: #00cc14;
  }
}
